[project]
	description = Swing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marina Titova (timary13)
[access "refs/for/refs/*"]
	read = group user/Marina Titova (timary13)
	push = group user/Marina Titova (timary13)
	label-Code-Review = -2..+2 group user/Marina Titova (timary13)
	label-Verified = -1..+1 group user/Marina Titova (timary13)
	rebase = group user/Marina Titova (timary13)
	removeReviewer = group user/Marina Titova (timary13)
	submit = group user/Marina Titova (timary13)
[access "refs/heads/*"]
	read = group user/Marina Titova (timary13)
	create = group user/Marina Titova (timary13)
	push = +force group user/Marina Titova (timary13)
	pushMerge = group user/Marina Titova (timary13)
[access "refs/tags/*"]
	push = +force group user/Marina Titova (timary13)
	pushTag = group user/Marina Titova (timary13)
	pushSignedTag = group user/Marina Titova (timary13)
